<?php include_once(dirname(__FILE__) . "/../header.html");?>

<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> <?php echo $controllerName?> <span class="c-gray en">&gt;</span> <?php echo $actionName?> <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<form action="" method="get" class="text-c">
		<input type="text" name="employee_name" value="<?php echo $employee_name;?>" placeholder=" 员工名称" style="width:250px" class="input-text">
		<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</form>
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
			<tr class="text-c">
				<th width="90">年份</th>
				<th width="90">季度</th>
				<th>部门经理名称</th>
				<th width="120">工作能力</th>
				<th width="120">态度</th>
				<th width="120">领导力</th>
				<th width="120">总得分</th>
				<th>员工名称</th>
				<th width="150">投票时间</th>
			</tr>
			</thead>
			<tbody>
			<?php if(!empty($row)){
			foreach($row as $item){ ?>
			<tr class="text-c">
				<td><?php echo $item['year']?></td>
				<td><?php echo $quarterList[$item['quarter']]?></td>
				<td><?php echo $item['manager_name']?></td>
				<td><?php echo $item['ability_score']?></td>
				<td><?php echo $item['attitude_score']?></td>
				<td><?php echo $item['leadership_score']?></td>
				<td><?php echo $item['total_score']?></td>
				<td><?php echo $item['employee_name']?></td>
				<td><?php echo $item['create_time']?></td>
			</tr>
			<?php }
			} ?>
			</tbody>
		</table>
	</div>
</div>
<?php include_once(dirname(__FILE__) . "/../footer.html");?>

<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $(function(){
        $('.table-sort').dataTable({
            "aaSorting": [[6, "desc"]],//默认第几个排序
            "bStateSave": true,//状态保存
            "aoColumnDefs": [
                {"orderable":false,"aTargets":[0,1,2]}// 制定列不参与排序
            ]
        });
    });
</script>